

    <!-- <h3>Value of num is: {{num}}</h3>
    <h3>Value of randNum is: {{randNum}}</h3>
    <h3>{{str}}</h3>
    <input type="text" [value]="first_name" />
    <p *ngIf="loggedIn">You are logged in!</p>
    <p *ngFor="let snack of snacks">{{snack}}</p>
    <p *ngIf="snacks.length < 3">You need more snacks.</p>
    <br><br><br> -->
    <div>
      <h2>el primer metodo</h2>
      <table>
      <tr>
        <td>Title</td><td>Description</td><td>Completed</td>
      </tr>
      <tr *ngFor="let info of tasks" >
        <td>{{info.title}}</td>
        <td>{{info.description}}</td>
        <td>{{info.completed}}</td>
      </tr>
    </table>
    <br><br><br><br>
    <h2>el segundo metodo</h2>
    <table>
      <tr>
        <td>Title</td><td>Description</td><td>Completed</td>
      </tr>
      <tr>
        <td>{{tasks2.title}}</td>
        <td>{{tasks2.description}}</td>
        <td>{{tasks2.completed}}</td>
      </tr>
    </table>
    </div>

